---
interface Props {
  text: string
  href: string
  extras?: string
}
const { href, text, extras } = Astro.props
---



<button
  type="button"
  class:list={["inline-flex items-center justify-center gap-2 px-4 py-3 mb-2 text-xs font-semibold leading-loose text-white transition-all bg-red-800 border border-transparent rounded-md hover:ring-2 focus:outline-none focus:ring-2 ring-offset-white focus:ring-red-500 hover:ring-red-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800", extras]}
>
  <a href={href}>
    {text}
  </a>
</button>
