---
import CohortCard from './CohortCard.astro'
import { getCollection, getEntry } from 'astro:content'

const entry = await getEntry('cohorts', '1')
const entries = await getCollection('cohorts')
---

<div
  class="h-screen flex flex-col justify-center snap-start space-y-10 pt-0 bg-mcswf-gray text-black"
>
  <div class="space-y-10 font-bold text-center">
    <h1 class="text-4xl">READY TO APPLY?</h1>
    <h1 class="text-2xl">JOIN THE COHORT THAT'S RIGHT FOR YOU.</h1>
  </div>
  <div class="flex flex-row justify-center">
    {
      entries.map((cohortEntry) => (
        <CohortCard
          title={cohortEntry.data.title}
          content={cohortEntry.data.content}
          startDate={cohortEntry.data.startDate}
          endDate={cohortEntry.data.endDate}
        />
      ))
    }
  </div>
</div>
