---
import RedButton from '../buttons/RedButton.astro'

interface Props {
  title: string
  content: string
  startDate: string
  endDate: string
}

const { title, content, startDate, endDate } = Astro.props
---

<div class="mx-10 p-7 bg-white rounded-lg shadow-md">
  <h3 class="text-4xl pt-10 text-black font-extrabold text-center">
    {title}
  </h3>
  <div class="max-w-3xl mx-auto mt-5 text-center">
    <p class="text-lg">
      {startDate} - {endDate}
    </p>
    <p>
      {content}
    </p>
    <div class="pt-20">
      <RedButton href="#" text="APPLY NOW" />
    </div>
  </div>
</div>
