---

// use this section to import data from ../../content/role-descriptions/swe/swe.yaml
---

<!-- this div is use to be the overall container for the role description -->
<div>
    <h1>
        About the Job
    </h1>
    <p>This is initial filler about what the role will be like.</p>
    <ul>
        <li>elements of working with the mCSwF 1</li>
        <li>elements of working with the mCSwF 2</li>
        <li>elements of working with the mCSwF 3</li> 
    </ul>
    <h1>
        Software Engineer Responsiblities
    </h1>
    <ul>
        <li> responsibility 1</li>
        <li> responsibility 2</li>
        <li> responsibility 3</li>
    </ul>
    <h1>
        What's in it for me?
    </h1>
    <ul>
        <li>reason 1</li>
        <li>reason 2</li>
        <li>reason 3</li>
    </ul>
    

</div>