---
import Hero from '../elements/Hero.astro';
import MetricCard from '../cards/MetricCard.astro'
---

<div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pb-10">
  <!-- Title -->
  <Hero linkText='LEARN MORE' padding="pt-24 pb-12" title='OUR MISSION' content='Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores.'></Hero>

  <div
    class="grid grid-cols-2 gap-8 p-10 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 md:gap-12"
  >
    <div class="text-center">
      <MetricCard
        icon="https://dummyimage.com/256x256/fff/aaa"
        value="100"
        metric="METRIC"
      />
    </div>
    <div class="text-center">
      <MetricCard
        icon="https://dummyimage.com/256x256/fff/aaa"
        value="15%"
        metric="METRIC"
      />
    </div>
    <div class="text-center">
      <MetricCard
        icon="https://dummyimage.com/256x256/fff/aaa"
        value="25k"
        metric="METRIC"
      />
    </div>
    <div class="text-center">
      <MetricCard
        icon="https://dummyimage.com/256x256/fff/aaa"
        value="260+"
        metric="METRIC"
      />
    </div>
  </div>
</div>
