---
import Button from '../buttons/RedButton.svelte'
import { Icon } from 'astro-icon'
import Card from '../cards/MCCard.svelte'
import DarkButton from '../buttons/DarkButton.svelte'
import RedButton from '../buttons/RedButton.svelte'
import { getCollection } from 'astro:content';
const products = await getCollection('products');
products.sort((a,b) => a.data.order - b.data.order)

function expandLink(link: string){
  return "products/"+link;
}

---

<div class="flex flex-row justify-center pt-12 pb-4">
  <h1 class="text-center font-bold text-3xl">
    BUILDING PRODUCTS THAT MAKE A DIFFERENCE
  </h1>
</div>
<div class="flex flex-row">
  <div class="flex-initial basis-1/12"></div>
  <div class="basis-10/12 flex flex-wrap">
    {products.map(product => (
      <div
        class="flex pt-3 justify-center w-full sm:w-full md:w-full lg:w-1/2 xl:w-1/2"
      >
        <Card title={product.data.product} link={expandLink(product.id)} imageSrc="https://dummyimage.com/25x25/fff/aaa" />
      </div>
    )

    )}
  </div>
  <div class="basis-1/12"></div>
</div>
