---
import TrainingCard from '../cards/TrainingCard.astro'
import { Icon } from 'astro-icon'
---

<div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pb-10">
  <!-- Title -->
      
    <div
      class="grid md:!flex grid-cols-none items-center justify-center"
    >
      <div class="md:max-h-72 text-center">
        <TrainingCard
          icon="https://dummyimage.com/256x256/fff/aaa"
          value="STEP 1"
        />
      </div>
      <div class="py-10 md:!py-0 flex justify-center items-center text-center text-center">
        <Icon class="rotate-90 md:!rotate-0" width="54px" pack="mdi" name="arrow-right-bold-outline"/>
      </div>
      <div class="md:max-h-72 text-center">
        <TrainingCard
          icon="https://dummyimage.com/256x256/fff/aaa"
          value="STEP 2"
        />
      </div>
      <div class="py-10 md:!py-0 flex justify-center items-center text-center">
        <Icon class="rotate-90 md:!rotate-0" width="54px" pack="mdi" name="arrow-right-bold-outline"/>
      </div>
      <div class="md:max-h-72 text-center">
        <TrainingCard
          icon="https://dummyimage.com/256x256/fff/aaa"
          value="STEP 3"
        />
      </div>
      <div class="py-10 md:!py-0 flex justify-center items-center text-center text-center">
        <Icon class="rotate-90 md:!rotate-0" width="54px" pack="mdi" name="arrow-right-bold-outline"/>
      </div>
      <div class="md:max-h-72 text-center">
        <TrainingCard
          icon="https://dummyimage.com/256x256/fff/aaa"
          value="STEP 4"
        />
      </div>
    </div>
  </div>
