---
import Hero from '../elements/Hero.astro'
---

<div class="flex h-screen">
  <!-- Left Column -->
  <div class="w-1/2 p-4">
    <Hero
      title="WHAT WE DO"
      content="Lorem ipsum dolor sit amet. Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores.  Lorem ipsum dolor sit amet. Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores."
      contentClasses="line-limit-14"
      padding="md:pt-48"
      link="#"
      linkText='LEARN MORE'
    />
  </div>

  <!-- Right Column -->
  <div
    class="w-1/2 p-4 md:!bg-right-top bg-top-right-pad-50 bg-contain bg-transparent bg-no-repeat bg-[url('https://dummyimage.com/1080/fff/aaa')]"
  >
  </div>
</div>
