---
import Hero from '../elements/Hero.astro'
import WhiteButton from '../buttons/WhiteButton.astro'
---

<!--
<div class="flex h-screen">
  <div class="w-1/2 p-4">
    <Hero
      title="WHAT WE DO"
      content="Lorem ipsum dolor sit amet. Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores.  Lorem ipsum dolor sit amet. Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores."
      link="#"
      padding="pt-48"
      linkText="LEARN MORE"
    />
  </div>

  <div
    class="w-1/2 p-4 bg-cover bg-no-repeat bg-slate-200"
  >
    <img class="w-full rounded h-full" src="https://dummyimage.com/1080/fff/aaa"/>
  </div>
</div>
-->
<section class="">
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div class="font-light text-gray-500 sm:text-lg text-gray-400">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 text-white text-center"
      >
        WHAT WE DO
      </h2>
      <p class="mb-4">
        Lorem ipsum dolor sit amet. Et quae quibusdam sed consequatur iste nam
        asperiores facilis qui error iste qui quia tenetur est rerum dolorem.
        Eum eveniet placeat cum impedit officiis est odit asperiores. Lorem
        ipsum dolor sit amet. Et quae quibusdam sed consequatur iste nam
        asperiores facilis qui error iste qui quia tenetur est rerum dolorem.
        Eum eveniet placeat cum impedit officiis est odit asperiores.
      </p>
      <div class="grid w-full gap-3 mt-8 sm:inline-flex sm:justify-center">
        <WhiteButton href="#" text="LEARN MORE" />
      </div>
    </div>

    <div class="grid gird-cols-1 gap-4 mt-8">
      <img
        class="w-full rounded-lg"
        src="https://dummyimage.com/1080/fff/aaa"
        alt="office content 1"
      />
    </div>
  </div>
</section>
