---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/elements/Hero.svelte'
import { displaySiteBanner } from '../components/stores.js'

import '../styles/global.css'

displaySiteBanner.set(false)
---

<Layout title="404">
  <div class="max-h-screen scrollbar-hide snap-start snap-y snap-mandatory">
    <div class="h-screen snap-start py-20">
      <Hero
        title="404"
        titleClasses='text-mcswf-gold text-9xl font-menobanner text-left font-semibold'
        contentClasses='text-left font-bold'
        link="/"
        linkText="GO HOME"
        padding="pt-24"
      ><span slot="content" class="md:inline">This page is unavailable.<span class="block">Try one of these pages instead.</span></span></Hero>
    </div>
  </div>
</Layout>
