---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/elements/Hero.svelte'

import '../styles/global.css'
---

<Layout title="404">
  <div class="max-h-screen scrollbar-hide snap-start snap-y snap-mandatory">
    <div class="h-screen snap-start py-20">
      <Hero
        title="404"
        content="Someone forgot to do their Website Navigation Course."
        link="/"
        linkText="GO HOME"
        padding="pt-24"
      />
    </div>
  </div>
</Layout>
