---
import Layout from '../layouts/Layout.astro'
import { displaySiteBanner } from '../components/stores.js'

import '../styles/global.css'
import ForwardArrow from '@components/icons/ForwardArrow.svelte'

displaySiteBanner.set(false)
---

<Layout title="404">
  <div class="max-h-screen scrollbar-hide snap-start snap-y snap-mandatory">
    <div class="h-screen snap-start py-20 pt-16 px-8 md:px-24">
      <h1 class="text-left font-semibold text-9xl text-mcswf-gold font-menobanner">404</h1>
      <span slot="content" class="md:inline">This page is unavailable.<span class="block">Try one of these pages instead.</span></span>
    <div class="relative grid grid-cols-1 lg:grid-cols-3 w-fit m-auto">
      <div class="text-left m-4 md:m-8 lg:m-12">
        <h1 class="text-lg font-light">Had enough exploring for the day ?</h1>
        <a
          href="/"
          class="text-mcswf-gold hover:underline underline-offset-4 font-bold text-lg"
          >Go to homepage
          <ForwardArrow />
        </a>
      </div>
      <div class="text-left m-4 md:m-8 lg:m-12">
          <h1 class="text-lg font-light">Learn more about our roles ?</h1>
          <a
            href="/roles"
            class="text-mcswf-gold hover:underline underline-offset-4 font-bold text-lg"
            >Pick the role for you
            <ForwardArrow />
          </a>
      </div>
      <div class="text-left m-4 md:m-8 lg:m-12">
          <h1 class="text-lg font-light">Is MCSWF right for you ?</h1>
          <a
            href="/career"
            class="text-mcswf-gold hover:underline underline-offset-4 font-bold text-lg"
            >Ready to join
            <ForwardArrow />
          </a>
      </div>
    </div>
  </div>
</Layout>
