---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/elements/Hero.svelte'

import '../styles/global.css'
import { imageConfig } from 'astro:assets'
import ContentImageFull from '../components/sections/ContentImageFull.svelte'

import FooterFull from '../components/footer/FooterFull.svelte'
---

<Layout title="ABOUT">
  <div
    class="absolute left-0 z-10 flex justify-center w-full align-middle top-24 h-5/6"
  >
    <img src="/ega.svg" />
  </div>
  <div
    class="relative max-h-screen overflow-y-scroll font-expressway red-radial-gradient scrollbar-hide"
  >
    <div
      class="relative z-20 h-screen py-20 bg-[url('/images/marine.png')] bg-cover bg-no-repeat"
    >
      <Hero
        padding="pt-24"
        title="WHO WE ARE"
        content="The Marine Corps Software Factory welcomes Marines from any MOS who have the aptitude, competence, and discipline to serve in key roles on software development teams."
        contentClasses="text-2xl"
      />
    </div>
    <div class="relative z-20 h-screen">
      <ContentImageFull
        link="#"
        linkText="LEARN MORE"
        title="OUR VISION"
        content="Upon arrival at the Marine Corps Software Factory, Marines are trained to fill the roles of a product team: product manager, software developer, and UI/UX designer. Over the course of their three-year assignment at MCSWF in Austin, Texas, they develop applications to support warfighters at the tactical edge. After their three-year tour in Austin, the teams are reassigned together to continue supporting MIG commanders throughout the fleet."
        image="images/marine_with_ar_lens.png"
        imageClasses="md:h-[550px] md:w-[550px] md:min-w-[550px]"
      />
    </div>
    <div class="relative z-20 h-screen">
      <ContentImageFull
        flipped
        link="#"
        linkText="LEARN MORE"
        title="OUR MISSION"
        content="We provide software development, data analytics, and artificial intelligence operations capabilities to MIG commanders to help them close joint, coalition, and naval kill webs. These capabilities enhance Marine commanders' decision advantage across the full spectrum of military operations."
        image="images/marines_marathon.png"
        imageClasses="md:h-[550px] md:w-[550px] md:min-w-[550px]"
      />
    </div>
    <div class="relative z-20 h-screen">
      <ContentImageFull
        link="#"
        linkText="LEARN MORE"
        title="OUR IMPACT"
        content="By providing Marines with the skills to develop software and implement artificial intelligence, we are giving commanders the ability to quickly produce software and AI solutions at the tactical edge."
        image="images/marine_whiteboard.png"
        imageClasses="md:h-[550px] md:w-[550px] md:min-w-[550px]"
      />
    </div>
    <div class="relative z-20 pt-20">
      <FooterFull client:load />
    </div>
  </div>
</Layout>
