---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
import NewAppSuggestion from '../components/sections/NewAppSuggestion.astro'
---

<Layout title="Cohort">
  <div
    class="max-h-screen overflow-y-scroll scrollbar-hide snap-start snap-y snap-mandatory"
  >
    <NewAppSuggestion />
  </div>
</Layout>
