---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/elements/Hero.svelte'
import Mission from '../components/sections/Mission.svelte'
import TrainingFlow from '../components/sections/TrainingFlow.svelte'
import TrainingImpact from '../components/sections/TrainingImpact.svelte'
import Card from '../components/cards/MCCard.svelte'
import RedButton from '../components/buttons/RedButton.svelte'
import PrereqGroup from '../components/sections/PrereqGroup.svelte'
import { getCollection } from 'astro:content'
import '../styles/global.css'
const posts = await Astro.glob('../content/roles/*.md')

const entries = await getCollection('prereqs')
---

<Layout title="Welcome to Astro.">
  <div
    class="max-h-screen overflow-y-scroll scrollbar-hide snap-start snap-y snap-mandatory"
  >
    <div class="h-screen snap-start py-20">
      <Hero
        title="WE ARE THE MARINE CORPS SOFTWARE FACTORY"
        link="#"
        linkText="LEARN MORE"
        padding="pt-24"
      />
    </div>
    <div class="h-screen snap-start pt-20">
      <TrainingImpact />
    </div>
    <div class="h-screen snap-start py-20">
      <Hero padding="md:pt-24" title="FIND THE ROLE THAT'S RIGHT FOR YOU" />
      <div
        class="md:grid grid-cols-2 gap-8 p-10 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 md:gap-12"
      >
        {
          posts.map((post) => (
            <div class="flex justify-center">
              <Card
                fontColor="text-red-600"
                darkFontColor="text-red-600"
                title={post.frontmatter.role}
                circularIcon
                href={'/roles/' + post.frontmatter.url}
              />
            </div>
          ))
        }
      </div>
      <div class="flex items-center justify-center h-1/5">
        <div class="flex space-x-24 mt-8">
          {(<RedButton href="" text="SEE JOB LISTINGS" />)}
        </div>
      </div>
    </div>
    <div class="h-screen snap-start py-12">
      <Mission />
    </div>
    <PrereqGroup entries={entries} />
    <div class="h-screen snap-start">
      <Hero padding="p-24" title="NEXT STEPS" />
      <TrainingFlow />
    </div>
  </div>
</Layout>
