---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/marinecorps/Hero.astro'
import CohortGroup from '../components/cards/CohortGroup.astro'
import '../styles/global.css'
---

<Layout title="Cohort">
  <div class="max-h-screen overflow-y-scroll scrollbar-hide snap-start snap-y snap-mandatory">
    <CohortGroup />
  </div>
</Layout>
