---
import Layout from '../layouts/Layout.astro'

import '../styles/global.css'
import '../styles/fonts.css'
import FooterFull from '../components/footer/FooterFull.svelte'

import Carousel from '../components/Carosel.svelte'

---

<Layout title="">
  <div
    class="relative overflow-y-scroll font-expressway red-radial-gradient scrollbar-hide"
  >
    <Carousel client:load/>
    <div class="">
      <FooterFull rounded={false} client:load />
    </div>
  </div>
</Layout>
