---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero  from "../components/marinecorps/Hero.astro";
import Mission  from "../components/marinecorps/Mission.astro";
import Impact  from "../components/marinecorps/Impact.astro";

---

<Layout title="Welcome to Astro.">
	<div class="snap-start max-h-screen snap-y overflow-y-scroll snap-mandatory">
		<div class="snap-start h-[80vh]">
			<Hero/>
		</div>
		<div class="snap-start h-screen">
			<Mission/>
		</div>
		<div class="snap-start h-screen">
			<Impact/>
		</div>
	</div>
</Layout>

<style></style>