---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Hero from '../components/marinecorps/Hero.astro'
import Mission from '../components/marinecorps/Mission.astro'
import Impact from '../components/marinecorps/Impact.astro'
import Countdown from '../components/marinecorps/Countdown.astro'

import "../styles/global.css"
---

<Layout title="Welcome to Astro.">
  <div class="max-h-screen overflow-y-scroll scrollbar-hide snap-start snap-y snap-mandatory">
    <div class="h-screen snap-start py-20">
      <Hero
        title="WE ARE THE MARINE CORPS SOFTWARE FACTORY"
        content="Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores."
        link="#"
      />
    </div>
    <div class="h-screen snap-start py-20">
      <Mission />
    </div>
    <div class="h-screen snap-start pt-20">
      <Impact />
    </div>
    <div class="h-screen snap-start">
      <Countdown
        title="COHORT COUNTDOWN"
        content="Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores."
        link="#"
      />
    </div>
  </div>
</Layout>
