---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Hero from '../components/marinecorps/Hero.astro'
import Countdown from '../components/marinecorps/Countdown.astro'

import Mission from '../story/about/Mission.astro'
import Vision from '../story/about/Vision.astro'
import Impact from '../story/about/Impact.astro'
import '../styles/global.css'
import { imageConfig } from 'astro:assets'
---

<Layout title="ROLES">
  <div
    class="max-h-screen overflow-y-scroll scrollbar-hide snap-start snap-y snap-mandatory"
  >
    <div class="h-screen snap-start py-20">
      <Hero
        padding="pt-24"
        title="FIND THE PERFECT ROLE"
        link="#"
        linkText="APPLY NOW"
      />
    </div>
    <div class="h-screen snap-start py-20">
      <div class="flex h-screen">
        <!-- Left Column -->
        <div class="w-1/2 p-4">
          <Hero
            title="SOFTWARE ENGINEER"
            content="Lorem ipsum dolor sit amet. Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores.  Lorem ipsum dolor sit amet. Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores."
            link="#"
            linkText="APPLY NOW"
            padding="pt-48"
          />
        </div>

        <!-- Right Column -->
        <div
          class="w-1/2 p-4 bg-cover bg-no-repeat bg-slate-200 bg-[url('https://dummyimage.com/1080/fff/aaa')]"
        >
        </div>
      </div>
    </div>
    <div class="h-screen snap-start py-20">
      <div class="flex h-screen">
        <!-- Left Column -->
        <div
          class="w-1/2 p-4 bg-cover bg-no-repeat bg-slate-200 bg-[url('https://dummyimage.com/1080/fff/aaa')]"
        >
        </div>
        <div class="w-1/2 p-4">
          <Hero
            title="PRODUCT DESIGNER"
            content="Lorem ipsum dolor sit amet. Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores.  Lorem ipsum dolor sit amet. Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores."
            link="#"
            linkText="APPLY NOW"
            padding="pt-48"
          />
        </div>

        <!-- Right Column -->
      </div>
    </div>
    <div class="h-screen snap-start py-20">
      <div class="flex h-screen">
        <!-- Left Column -->
        <div class="w-1/2 p-4">
          <Hero
            title="PRODUCT MANAGER"
            content="Lorem ipsum dolor sit amet. Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores.  Lorem ipsum dolor sit amet. Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores."
            link="#"
            linkText="APPLY NOW"
            padding="pt-48"
          />
        </div>

        <!-- Right Column -->
        <div
          class="w-1/2 p-4 bg-cover bg-no-repeat bg-slate-200 bg-[url('https://dummyimage.com/1080/fff/aaa')]"
        >
        </div>
      </div>
    </div>
    <div class="h-screen snap-start py-20">
      <div class="flex h-screen">
        <!-- Left Column -->
        <div
          class="w-1/2 p-4 bg-cover bg-no-repeat bg-slate-200 bg-[url('https://dummyimage.com/1080/fff/aaa')]"
        >
        </div>
        <div class="w-1/2 p-4">
          <Hero
            title="PLATFORM ENGINEER"
            content="Lorem ipsum dolor sit amet. Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores.  Lorem ipsum dolor sit amet. Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores."
            link="#"
            linkText="APPLY NOW"
            padding="pt-48"
          />
        </div>

        <!-- Right Column -->
      </div>
    </div>
  </div>
</Layout>
