---
import Layout from '../layouts/Layout.astro'

import "../styles/global.css"
import "../styles/fonts.css"
---

<Layout title="">

    <div class="bg-black h-screen">
        <img class="h-80" src="/icons/calendar.svg"/>
    </div>
</Layout>
