---
import Hero from '../components/elements/Hero.astro';
import Layout from '../layouts/Layout.astro'
import TrainingFlow from '../components/sections/TrainingFlow.astro'
import PrereqGroup from '../components/sections/PrereqGroup.astro'

import "../styles/global.css"
---

<Layout title="TRAINING">
  <div class="max-h-screen overflow-y-scroll scrollbar-hide snap-start snap-y snap-mandatory">
    <PrereqGroup
    />
    <div class="h-screen snap-start pt-20">
      <Hero padding='p-24' title='NEXT STEPS'/>
      <TrainingFlow />
    </div>
  </div>
</Layout>
