---
import Icon from "astro-icon";

---

<div class="card bg-base-100 w-8/12">
  <figure class="px-10 pt-10">
    <img
      src="https://dummyimage.com/1920x1080/fff/aaa"
      alt="Shoes"
      class="rounded-xl"
    />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title pt-3 text-4xl">Shoes!</h2>
    <div class="card-actions">
      <button class="btn btn-primary">
        <div class="pt-2 flex justify-center items-center ms-3">
          <p>LEARN MORE</p>
          <Icon width="24" pack="mdi" name="chevron-right"/></Icon>
        </div>
      </button>
    </div>
  </div>
</div>
