---
import Button  from "./Button.astro";
---

<div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">
  <!-- Title -->
  <div class="mt-5 max-w-5xl text-center mx-auto">
    <h1
      class="block font-bold text-black text-4xl md:text-5xl lg:text-6xl dark:text-black"
    >
      WE ARE THE MARINE CORPS SOFTWARE FACTORY
    </h1>
  </div>
  <!-- End Title -->

  <div class="mt-5 max-w-3xl text-center mx-auto">
    <p class="text-lg text-gray-600 dark:text-gray-400">
      Et quae quibusdam sed consequatur iste nam asperiores facilis qui error
      iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit
      officiis est odit asperiores.
    </p>
  </div>

  <!-- Buttons -->
  <div class="mt-8 grid gap-3 w-full sm:inline-flex sm:justify-center">
    <Button href="#" text="LEARN MORE" />
  </div>
  <!-- End Buttons -->
</div>
