---
import Button from "./Button.astro";
---

<body>
  <div class="flex h-1/2">
    <!-- Left Column -->
    <div class="w-1/2 p-4">
      <!-- Content for the left column -->
      <h1 class="text-2xl font-semibold">Left Column</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <!-- Right Column -->
    <div
      class="w-1/2 p-4 bg-contain bg-gray-200 bg-[url('https://dummyimage.com/1920x1080/ddd/aaa')]"
    >
    </div>
  </div>
  <div class="flex h-1/2">
    <!-- Left Column -->
    <div
      class="w-1/2 p-4 bg-contain bg-gray-200 bg-[url('https://dummyimage.com/1920x1080/ddd/aaa')]"
    ></div>
      <div class="w-1/2 p-4">
        <!-- Content for the left column -->
        <h1 class="text-2xl font-semibold">Left Column</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <!-- Right Column -->
  </div>
</body>
