---
import Button from './Button.astro'
import MetricCard from './MetricCard.astro'
---

<div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">
  <!-- Title -->
  <div class="mt-5 max-w-5xl text-center mx-auto">
    <h1 class="block font-bold text-4xl md:text-5xl lg:text-6xl">
      OUR MISSION
    </h1>
  </div>
  <!-- End Title -->

  <div class="mt-5 max-w-3xl text-center mx-auto">
    <p class="text-lg">
      Et quae quibusdam sed consequatur iste nam asperiores facilis qui error
      iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit
      officiis est odit asperiores.
    </p>
  </div>

  <div
    class="p-10 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 gap-8 md:gap-12"
  >
    <div class="text-center">
      <MetricCard
        icon="https://dummyimage.com/256x256/fff/aaa"
        value="100"
        metric="METRIC"
      />
    </div>
    <div class="text-center">
      <MetricCard
        icon="https://dummyimage.com/256x256/fff/aaa"
        value="15%"
        metric="METRIC"
      />
    </div>
    <div class="text-center">
      <MetricCard
        icon="https://dummyimage.com/256x256/fff/aaa"
        value="25k"
        metric="METRIC"
      />
    </div>
    <div class="text-center">
      <MetricCard
        icon="https://dummyimage.com/256x256/fff/aaa"
        value="260+"
        metric="METRIC"
      />
    </div>
  </div>
</div>
