<nav
  class="sticky top-0 z-50 px-24 py-3 text-black dark:text-white dark:bg-slate-900 bg-slate-300"
>
  <div class="flex items-center justify-between">
    <div>
      <a href="#">
        <h1 class="text-xl font-bold">MCSWF</h1>
      </a>
    </div>
    <div class="">
      <div class="flex space-x-4">
        <button
          type="button"
          class="inline-flex items-center justify-center gap-2 px-4 py-3 text-sm font-semibold transition-all border border-transparent rounded-md text-slate-500 hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2 dark:text-slate-500 dark:hover:bg-slate-700 dark:hover:text-slate-300 dark:focus:ring-offset-slate-800"
        >
          PRODUCTS
        </button>
        <button
          type="button"
          class="inline-flex items-center justify-center gap-2 px-4 py-3 text-sm font-semibold transition-all border border-transparent rounded-md text-slate-500 hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2 dark:text-slate-500 dark:hover:bg-slate-700 dark:hover:text-slate-300 dark:focus:ring-offset-slate-800"
        >
          ABOUT
        </button>
        <button
          type="button"
          class="inline-flex items-center justify-center gap-2 px-4 py-3 text-sm font-semibold transition-all border border-transparent rounded-md text-slate-500 hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2 dark:text-slate-500 dark:hover:bg-slate-700 dark:hover:text-slate-300 dark:focus:ring-offset-slate-800"
        >
          TRAINING & CAREER
        </button>
        <button
          type="button"
          class="inline-flex items-center justify-center gap-2 px-4 py-3 text-sm font-semibold transition-all border border-transparent rounded-md text-slate-500 hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2 dark:text-slate-500 dark:hover:bg-slate-700 dark:hover:text-slate-300 dark:focus:ring-offset-slate-800"
        >
          CONTACT
        </button>
      </div>
    </div>
    <div class="">
      <button
        type="button"
        class="inline-flex items-center justify-center gap-2 px-4 py-3 text-sm font-semibold text-white transition-all bg-red-800 border border-transparent rounded-md hover:ring-2 ring-red-800 hover:bg-red-950 hover:text-white focus:outline-none focus:ring-2 ring-offset-white focus:ring-red-300 focus:ring-offset-2 dark:bg-slate-700 dark:hover:bg-slate-950 dark:text-white"
      >
        GET IN TOUCH
      </button>
    </div>
  </div>
</nav>
