<nav class="relative sticky top-0 flex items-center justify-between px-12 py-4 bg-slate-300 dark:bg-slate-900 md:px-24">
  <a class="text-3xl font-bold leading-none" href="#"> MCSWF</a>
  <div class="lg:hidden">
    <button class="flex items-center p-3 navbar-burger">
      <svg
        class="block w-4 h-4 fill-current"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Mobile menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </button>
  </div>
  <ul
    class="absolute hidden transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 lg:flex lg:mx-auto lg:items-center lg:w-auto lg:space-x-6"
  >
    <li>
      <a class="text-sm text-gray-400 hover:text-gray-500" href="#">        <button
		type="button"
		class="inline-flex items-center justify-center gap-2 px-4 py-3 text-sm font-semibold transition-all border border-transparent rounded-md text-slate-500 hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2 dark:text-slate-500 dark:hover:bg-slate-700 dark:hover:text-slate-300 dark:focus:ring-offset-slate-800"
	  >
		PRODUCTS
	  </button></a>
    </li>
    <li><a class="text-sm font-bol" href="#">        <button
		type="button"
		class="inline-flex items-center justify-center gap-2 px-4 py-3 text-sm font-semibold transition-all border border-transparent rounded-md text-slate-500 hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2 dark:text-slate-500 dark:hover:bg-slate-700 dark:hover:text-slate-300 dark:focus:ring-offset-slate-800"
	  >
		ABOUT
	  </button></a></li>
    <li>
      <a class="text-sm text-gray-400 hover:text-gray-500" href="#"></a>
        <button
          type="button"
          class="inline-flex items-center justify-center gap-2 px-4 py-3 text-sm font-semibold transition-all border border-transparent rounded-md text-slate-500 hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2 dark:text-slate-500 dark:hover:bg-slate-700 dark:hover:text-slate-300 dark:focus:ring-offset-slate-800"
        >
          TRAINING & CAREER
        </button></a
      >
    </li>
    <li>
      <a class="text-sm text-gray-400 hover:text-gray-500" href="#">
        <button
          type="button"
          class="inline-flex items-center justify-center gap-2 px-4 py-3 text-sm font-semibold transition-all border border-transparent rounded-md text-slate-500 hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2 dark:text-slate-500 dark:hover:bg-slate-700 dark:hover:text-slate-300 dark:focus:ring-offset-slate-800"
        >
          CONTACT
        </button></a
      >
    </li>
  </ul>
  <a
    class="hidden px-6 transition duration-200 lg:inline-block rounded-xl"
    href="#"
  >
    <button
      type="button"
      class="inline-flex items-center justify-center gap-2 px-4 py-3 text-sm font-semibold text-white transition-all bg-red-800 border border-transparent rounded-md hover:ring-2 ring-red-800 hover:bg-red-950 hover:text-white focus:outline-none focus:ring-2 ring-offset-white focus:ring-red-300 focus:ring-offset-2 dark:bg-slate-700 dark:hover:bg-slate-950 dark:text-white"
    >
      GET IN TOUCH
    </button></a
  >
</nav>
<div class="relative z-50 hidden navbar-menu">
  <div class="fixed inset-0 bg-gray-800 opacity-0 navbar-backdrop"></div>
  <nav
    class="fixed top-0 bottom-0 left-0 flex flex-col w-5/6 max-w-sm px-6 py-6 overflow-y-auto border-r-2 border-black dark:border-white bg-slate-300 dark:bg-slate-900"
  >
    <div class="flex items-center mb-8">
      <a class="mr-auto text-3xl font-bold leading-none" href="#">
		MCSWF
      </a>
      <button class="navbar-close">
        <svg
          class="w-6 h-6 text-gray-400 cursor-pointer hover:text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div>
      <ul>
        <li class="mb-1">
          <a
            class="block p-4 text-sm font-semibold text-gray-400 rounded hover:bg-blue-50 hover:text-blue-600"
            href="#">PRODUCTS</a
          >
        </li>
        <li class="mb-1">
          <a
            class="block p-4 text-sm font-semibold text-gray-400 rounded hover:bg-blue-50 hover:text-blue-600"
            href="#">ABOUT</a
          >
        </li>
        <li class="mb-1">
          <a
            class="block p-4 text-sm font-semibold text-gray-400 rounded hover:bg-blue-50 hover:text-blue-600"
            href="#">TRAINING & CAREER</a
          >
        </li>
        <li class="mb-1">
          <a
            class="block p-4 text-sm font-semibold text-gray-400 rounded hover:bg-blue-50 hover:text-blue-600"
            href="#">CONTACT</a
          >
        </li>
      </ul>
    </div>
    <div class="mt-auto">
      <div class="pt-6">
        <a
          class="block px-4 py-3 mb-2 text-xs font-semibold leading-loose text-center text-white bg-blue-600 hover:bg-blue-700 rounded-xl"
          href="#"></a>

		
      </div>
      <p class="my-4 text-xs text-center text-gray-400">
        <span>Copyright © 2021</span>
      </p>
    </div>
  </nav>
</div>

<script>
  // Burger menus
  document.addEventListener('DOMContentLoaded', function () {
    // open
    const burger = document.querySelectorAll('.navbar-burger')
    const menu = document.querySelectorAll('.navbar-menu')

    if (burger.length && menu.length) {
      for (var i = 0; i < burger.length; i++) {
        burger[i].addEventListener('click', function () {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle('hidden')
          }
        })
      }
    }

    // close
    const close = document.querySelectorAll('.navbar-close')
    const backdrop = document.querySelectorAll('.navbar-backdrop')

    if (close.length) {
      for (var i = 0; i < close.length; i++) {
        close[i].addEventListener('click', function () {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle('hidden')
          }
        })
      }
    }

    if (backdrop.length) {
      for (var i = 0; i < backdrop.length; i++) {
        backdrop[i].addEventListener('click', function () {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle('hidden')
          }
        })
      }
    }
  })
</script>
