---
import RedButton from '../buttons/RedButton.astro'
import Timer from './Timer.astro'
import Hero from './Hero.astro'

interface Props {
  title: string
  content: string
  link: string
}

const { title, content, link } = Astro.props
---

<div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">

  <Hero padding="pt-24" title="COUNTDOWN" content="Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores."></Hero>

  <Timer />
  <!-- Buttons -->
  <div class="grid w-full gap-3 mt-8 sm:inline-flex sm:justify-center">
    <RedButton href={link} text="APPLY NOW" />
  </div>
  <!-- End Buttons -->
</div>
