<div class="grid w-full grid-cols-2 gap-3 mt-8 md:grid-cols-4 md:space-x-10 sm:inline-flex sm:justify-center">
  <div class="hidden my-auto bg-red-600 w-60 md:block">
    <hr class="h-[1px] bg-white border-none">
  </div>
  <div class="items-center text-center">
    <div class="mt-2 sm:mt-4">
      <h3 id="countdown-days" class="text-6xl font-extrabold font-menobanner ">
        41
      </h3>
      <p class="font-bold text-md text-mcswf-gold">DAYS</p>
    </div>
  </div>
  <div class="items-center text-center">
    <div class="mt-2 sm:mt-4">
      <h3 id="countdown-hours" class="text-6xl font-extrabold font-menobanner ">
        14
      </h3>
      <p class="font-bold text-md text-mcswf-gold">HOURS</p>
    </div>
  </div>
  <div class="items-center text-center">
    <div class="mt-2 sm:mt-4">
      <h3 id="countdown-minutes" class="text-6xl font-extrabold font-menobanner ">
        54
      </h3>
      <p class="font-bold text-md text-mcswf-gold">MINUTES</p>
    </div>
  </div>
  <div class="items-center text-center">
    <div class="mt-2 sm:mt-4">
      <h3 id="countdown-seconds" class="text-6xl font-extrabold font-menobanner ">
        19
      </h3>
      <p class="font-bold text-md text-mcswf-gold">SECONDS</p>
    </div>
  </div>
  <div class="my-auto w-60 md:block">
    <hr>
  </div>
</div>

<script>
  var countDownDate = new Date('Mar 4, 2024 00:50:25').getTime()

  // Update the count down every 1 second
  var x = setInterval(function () {
    // Get today's date and time
    var now = new Date().getTime()

    // Find the distance between now and the count down date
    var distance = countDownDate - now

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24))
    var hours = Math.floor(
      (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
    )
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60))
    var seconds = Math.floor((distance % (1000 * 60)) / 1000)

    document.getElementById('countdown-days').innerHTML = String(days)
    document.getElementById('countdown-hours').innerHTML = String(hours)
    document.getElementById('countdown-minutes').innerHTML = String(minutes)
    document.getElementById('countdown-seconds').innerHTML = String(seconds)

    // If the count down is finished, write some text
    if (distance < 0) {
      document.getElementById('countdown-days').innerHTML = '0'
      document.getElementById('countdown-hours').innerHTML = '0'
      document.getElementById('countdown-minutes').innerHTML = '0'
      document.getElementById('countdown-seconds').innerHTML = '0'
    }
  }, 1000)
</script>
