---
import Layout from '../../layouts/Layout.astro'
import { getCollection } from 'astro:content';

import "../../styles/global.css"
import "../../styles/fonts.css"
import Accordion from '../../components/accordion/Accordion.svelte';

const products = await getCollection('products');
---

<Layout title="">
    <div class="bg-black h-screen py-20">
        <Accordion 
        products={products}
        client:load/>
    </div>
</Layout>