---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { displaySiteBanner } from '@components/stores.js';
import Hero from '@components/elements/Hero.svelte';
import FooterFull from '@components/FooterFull.svelte';
import ContentImageFull from '@components/sections/ContentImageFull.svelte';
import '../../styles/global.css';
import '../../styles/fonts.css';

const products = await getCollection('products');
displaySiteBanner.set(false);
products.sort((a, b) => a.data.order - b.data.order);
---

<Layout title="Products Overview">
  <Hero
    client:only
    title="OUR PRODUCT PORTFOLIO"
    titleColor="yellow"
    titleClasses="text-[32px] md:text-4xl w-64 md:w-full"
    description="Real solutions to real problems - Created for Marines, by Marines at the Marine Corps Software Factory."
    descriptionClasses="w-80 md:w-[400px] text-base md:text-2xl"
    backgroundImg="/images/Overview_hero.svg"
    class="bg-top"
  />
  <div class="relative z-20">
    {
      products.map((e) => (
        <ContentImageFull
          flipped={e.data.order % 2 === 0}
          link={`products/${e.id}`}
          linkText="LEARN MORE"
          title=""
          content={e.data['description']}
          image={e.data['image2'].src}
          titleClasses="text-white">
          <div
            slot="title"
            class="flex justify-start lg:justify-center py-8">
            <span class="text-mcswf-gold text-[48px] flex-shrink md:text-[64px] font-menobanner font-light tracking-wide">0{e.data.order}</span>{' '}
            <span class="ml-4 text-[32px] md:text-[40px] md:ml-6 tracking-widest">{e.data['product']}</span>
          </div>
        </ContentImageFull>
      ))
    }
  </div>
  <div class="pt-20 relative z-20">
    <FooterFull client:only />
  </div>
</Layout>
