---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { displaySiteBanner } from '@components/stores.js';
import Hero from '@components/elements/Hero.svelte';
import FooterFull from '@components/FooterFull.svelte';
import ContentImageFull from '@components/sections/ContentImageFull.svelte';
import '../../styles/global.css';
import '../../styles/fonts.css';

const products = await getCollection('products');
displaySiteBanner.set(false);
products.sort((a, b) => a.data.order - b.data.order);
---

<Layout title="Products Overview">
  <Hero
    client:only
    title="OUR PRODUCT PORTFOLIO"
    titleColor="yellow"
    titleClasses="text-[32px] md:text-4xl w-64 md:w-full"
    description="Real solutions to real problems - Created for Marines, by Marines at the Marine Corps Software Factory."
    descriptionClasses="w-80 md:w-[400px] text-base md:text-2xl"
    backgroundImg="/images/Overview_hero.svg"
  />
  <div class='relative z-20'>
      {products.map(e => (

          <ContentImageFull
            flipped = { e.data.order % 2 === 0 }
            link=`products/${e.id}`
            linkText='LEARN MORE'
            title=`<span class="flex"><span class='text-mcswf-gold text-[48px] flex-shrink lg:text-[64px] font-menobanner font-light'>0${e.data.order}</span> <span class='ml-2 text-[32px] lg:ml-5'>${e.data['product']}</span></span>`
            content={e.data['description']}
            image={e.data['image2'].src}
            imageClasses=''
            titleClasses='text-white tracking-[4px]'
          />
        ),
      )}
    </div>
    <div class='pt-20 relative z-20'>
      <FooterFull client:only />
    </div>
</Layout>
