---
import Layout from '../../layouts/Layout.astro'
import Hero from '../../components/elements/Hero.astro'
import Card from './RoleCard.astro'

import '../../styles/global.css'
import FooterFull from '../../components/FooterFull.svelte'
import CohortGroup from '../../components/cards/CohortGroup.astro'

export async function getStaticPaths() {
  const posts = await Astro.glob('../../content/roles/*.md')
  return posts.map(({ frontmatter, compiledContent }) => {
    return {
      params: { role: frontmatter.url },
      props: { frontmatter, compiledContent },
    }
  })
}
const { frontmatter, compiledContent } = Astro.props
const content = compiledContent()
---

<Layout title="">
  <div
    class="relative max-h-screen overflow-y-scroll font-expressway red-radial-gradient scrollbar-hide snap-start snap-y snap-mandatory"
  >
    <div
      class="relative z-20 h-screen snap-start pt-20 pb-0 bg-no-repeat"
      style={{
        backgroundImage: `url('/images/${frontmatter.image_wide}')`,
      }}
    >
      <Hero
        padding="md:pt-24"
        title={frontmatter.role}
        link="#"
        linkText="APPLY NOW"
      />
    </div>
    <div class="flex h-fill snap-start py-24 place-content-center">
      <article set:html={content} class="prose prose-invert" />
    </div>
    <div
      class="max-h-screen overflow-y-scroll scrollbar-hide snap-start snap-y snap-mandatory"
    >
      <CohortGroup />
    </div>
    <div class="pt-20 snap-end">
      <FooterFull client:load />
    </div>
  </div>
</Layout>
