---
import Layout from '../../layouts/Layout.astro'
import Hero from '../../components/elements/Hero.svelte'
import Card from './RoleCard.astro'

import '../../styles/global.css'

export async function getStaticPaths() {
  const posts = await Astro.glob('../../content/roles/*.md')
  return posts.map(({ frontmatter, compiledContent }) => {
    return {
      params: { role: frontmatter.url },
      props: { frontmatter, compiledContent },
    }
  })
}
const { frontmatter, compiledContent } = Astro.props
const content = compiledContent()
---

<Layout title="">
  <div
    class="max-h-screen overflow-y-scroll scrollbar-hide snap-start snap-y snap-mandatory"
  >
    <div class="h-screen snap-start py-20">
      <Hero
        padding="md:pt-24"
        title={frontmatter.title}
        link="#"
        linkText="APPLY NOW"
      />
    </div>
    <div class="flex h-fill snap-start py-24 place-content-center">
      <article set:html={content} class="prose prose-invert" />
    </div>
    <div class="h-screen snap-start py-36">
      <div class="flex flex-row">
        <div class="basis-1/2 flex justify-center">
          <div class="w-1/2 flex flex-col">
            <h1 class="font-semibold text-3xl">READY TO APPLY?</h1>
            <h1 class="font-semibold text-7xl pt-5">
              JOIN THE COHORT THAT'S RIGHT FOR YOU.
            </h1>
          </div>
        </div>
        <div class="basis-1/4">
          <Card/>
        </div>
        <div class="basis-1/4">
          <Card/>
        </div>
      </div>
    </div>
  </div>
</Layout>
