---
import Layout from '../../layouts/Layout.astro'
import Hero from '../../components/elements/Hero.svelte'

import '../../styles/global.css'
import FooterFull from '../../components/FooterFull.svelte'
import CohortGroup from '../../components/cards/CohortGroup.astro'

export async function getStaticPaths() {
  const posts = await Astro.glob('../../content/roles/*.md')
  return posts.map(({ frontmatter, compiledContent }) => {
    return {
      params: { role: frontmatter.url },
      props: { frontmatter, compiledContent },
    }
  })
}
const { frontmatter, compiledContent } = Astro.props
const content = compiledContent()
---

<Layout title={frontmatter.role}>
  <div
    class="absolute left-0 z-10 flex justify-center w-full align-middle top-24 h-5/6"
  >
    <img src="/ega.svg" />
  </div>
  <div
    class="max-h-screen overflow-y-scroll font-expressway red-radial-gradient scrollbar-hide snap-start snap-y snap-mandatory"
  >
    <div
      class="relative z-20 h-fit snap-start pt-20 pb-10 bg-no-repeat bg-cover"
      style={{
        backgroundImage: `url('/images/${frontmatter.image_wide}')`,
      }}
    >
      <Hero
        padding="md:pt-24"
        title={frontmatter.role}
        link="#"
        linkText="APPLY NOW"
        titleClasses="text-white"
      />
    </div>
    <div
      class="relative z-20 flex h-fill snap-start py-24 place-content-center px-2"
    >
      <article set:html={content} class="prose prose-invert" />
    </div>
    <div
      class="relative z-20 max-h-screen overflow-y-scroll scrollbar-hide snap-start snap-y snap-mandatory"
    >
      <CohortGroup />
      <div class="pt-20 snap-end">
        <FooterFull client:load />
      </div>
    </div>
  </div>
</Layout>
