---
import Layout from '../../layouts/Layout.astro'
import Card from '../../components/cards/MCCard.astro'
import MerticCard from '../../components/cards/MetricCard.astro'
import Hero from '../../components/elements/Hero.astro'
import RedButton from '../../components/buttons/RedButton.astro'

import '../../styles/global.css'
import { imageConfig } from 'astro:assets'
import { getCollection, getEntry, getEntries } from 'astro:content'

const entry = await getEntry('roles', '1')
const entries = await getCollection('roles')
console.log(entries)
---

<Layout title="ROLES">
  <div
    class="max-h-screen overflow-y-scroll scrollbar-hide snap-start snap-y snap-mandatory"
  >
    <div class="h-screen snap-start py-20">
      <Hero padding="md:pt-24" title="FIND THE ROLE THAT'S RIGHT FOR YOU" />
      <div
        class="md:grid grid-cols-2 gap-8 p-10 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 md:gap-12"
      >
        {
          entries.map((roleEntry) => (
            <div class="flex justify-center">
              <Card
                fontColor="text-red-600"
                darkFontColor="text-red-600"
                title={roleEntry.data.role_title}
                circularIcon
                href={"/roles/" + roleEntry.data.url}
              />
            </div>
          ))
        }

      </div>
      <div class="flex items-center justify-center h-1/5">
        <div class="flex space-x-24 mt-8">
          {(<RedButton href="" text="SEE JOB LISTINGS" />)}
        </div>
      </div>
    </div>
  </div>
</Layout>
