---
import Layout from '../../layouts/Layout.astro'
import Hero from '../../components/elements/Hero.astro'

import '../../styles/global.css'
import '../../styles/fonts.css'
import FooterFull from '../../components/FooterFull.svelte'
const posts = await Astro.glob('../../content/roles/*.md')
let side = 'left'
---

<Layout title="ROLES">
  <div
    class="relative max-h-screen overflow-y-scroll font-expressway red-radial-gradient scrollbar-hide snap-start snap-y snap-mandatory"
  >
    <div
      class="relative z-20 h-screen snap-start pt-20 bg-[url('/images/group_of_marines.png')] bg-no-repeat"
    >
      <Hero
        title="PICK THE PERFECT ROLE FOR YOU"
        content="Lorem ipsum dolor sit amet. Et quae quibusdam sed consequatur iste nam asperiores facilis qui error iste qui quia tenetur est rerum dolorem. Eum eveniet placeat cum impedit officiis est odit asperiores.  Lorem ipsum dolor sit amet. Et quae qui"
        link="#"
        linkText="APPLY NOW"
        padding="pt-24"
      />
    </div>
    <div
      class="max-h-screen overflow-y-scroll scrollbar-hide snap-start snap-y snap-mandatory"
    >
      {
        posts.map((post) => {
          if (side == 'left') {
            side = 'right'
            return (
              <>
                <div class="h-screen snap-start py-20">
                  <div class="flex h-screen">
                    <div class="w-1/2 p-4">
                      <Hero
                        title={post.frontmatter.role}
                        content={post.frontmatter.about}
                        link={'/roles/' + post.frontmatter.url}
                        padding="pt-48"
                        linkText="LEARN MORE"
                      />
                    </div>
                    <div class="w-1/2 p-4 bg-cover bg-no-repeat bg-slate-200 bg-[url('https://dummyimage.com/1080/fff/aaa')]" />
                  </div>
                </div>
              </>
            )
          } else {
            side = 'left'
            return (
              <>
                <div class="h-screen snap-start py-20">
                  <div class="flex h-screen">
                    <div class="w-1/2 p-4 bg-cover bg-no-repeat bg-slate-200 bg-[url('https://dummyimage.com/1080/fff/aaa')]" />
                    <div class="w-1/2 p-4">
                      <Hero
                        title={post.frontmatter.role}
                        content={post.frontmatter.about}
                        link={'/roles/' + post.frontmatter.url}
                        padding="pt-48"
                        linkText="LEARN MORE"
                      />
                    </div>
                  </div>
                </div>
              </>
            )
          }
        })
      }
    </div>
    <div class="pt-20 snap-end">
      <FooterFull client:load />
    </div>
  </div>
</Layout>
