---
import Navigation2 from '../components/static/Navigation.svelte'

import FooterSmall from '../components/footer/FooterSmall.svelte'
import Banner from '../components/static/Banner.svelte';

import "../styles/global.css";
import '../styles/fonts.css'

interface Props {
  title?: string
}

const { title = null } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap"
    />
    <title>MCSWF {title && "-"} {title}</title>
  </head>
  <body class="bg-black font-expressway bg-opacity-40 text-white">
    <header class="fixed z-30 top-0 w-full max-h-20">
      <Banner client:load/>
      <Navigation2 client:load />
    </header>
    <slot />
  </body>
</html>
