---
// import { Banner } from 'flowbite-svelte'
import ButtonCustom from '../components/buttons/ButtonCustom.svelte'

import Navigation from '../components/static/Navigation.svelte'

import FooterSmall from '../components/footer/FooterSmall.svelte'
import Banner from '../components/static/Banner.svelte'

import '../styles/global.css'
import '../styles/fonts.css'

interface Props {
  title?: string
}

const { title = null } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap"
    />
    <title>MCSWF {title && '-'} {title}</title>
  </head>
  <body
    class="font-expressway bg-opacity-40 text-white bg-custom-gradient-red bg-cover bg-center">
    <Banner />
    <header class="w-full sticky top-0 z-30">
      <Navigation client:only="svelte" />
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
